.hover-card{
    transition: transform 0.1s ease;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
.hover-card:hover{
 
    background-color:  rgb(246, 253, 255);
    transform: scale(1.01);
}

.card-media{
width: 90%;
height: 100px;
border-radius: 15px ;
 
}