.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130px;
    border-radius: 9px;
    overflow: hidden;
    margin-left: 20px;
     }
   .card-container:hover {
    /* opacity: 0.9; */
    cursor: pointer;
    transform: scale(1.01);
   }
   .gradient-bg {
    /* background: linear-gradient(45deg, #811fde 30%, #0d2f94 90%); */
    background: #248ed4;
    width: 100%;
    height: 100%;
   }
   h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
   }